@import "vars";

body {
	margin: 0;
}


.header {
	background: $base-color;
	color: white;
	height: 50px;
	width: 100%;
	text-align: center;
}

.content {
	color: $font-color;
	@media (min-width: $screen-md-min) {
		width: 80%;
		margin: auto;
	}
}


table {
	border-collapse: collapse;
	border: 1px solid $base-dark;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
	background-color: $background-color;
}

thead {
	background: $base-color;
	color: white;
	height: 50px;
	width: 100%;
	text-align: center;
	text-shadow: 0 1px 0 $base-dark;
	border: 1px solid $base-dark;
}
th, td {
	padding-top: 10px;
	padding-bottom: 10px;
}
th {
	border-right: 1px solid $base-dark;
	padding-right: 5px;
	padding-left: 5px;
}
td {
	border-right: 1px solid lighten($font-color, 20%);
}
th:last-child,
td:last-child {
	border-right: 0;
}
tr {
	border-bottom: 1px solid lighten($font-color, 20%);
}

table.fixed {
	width: 800px;
}
.table-container-scrollb{
	max-width: 100%;
	overflow-x: scroll;
}
table.scroll {
	width: 800px;
}
table.percent {
	max-width: 100%;
}

.linkTable {
	width: 800px;
}

@import "hide";
@import "collapseTable";
