@import "vars";

@media (max-width: $screen-md-min) {
	.collapseTable {
		table, thead, tbody, th, td, tr {
			display: block;
		}

		thead {
			position: absolute;
			top: -999999999px;
			left: -999999999px;
		}
			

		tbody td:before {
			content: attr(data-th);
			display: block;
			text-align: center;
		}
		tbody td {
			text-align: center;
		}

		tbody td:first-child {
			background: $base-color;
			color: white;
			height: 50px;
			width: 100%;
			text-align: center;
			text-shadow: 0 1px 0 $base-dark;
			border: 1px solid $base-dark;
		}
	}
}
