@import "vars";

@media (max-width: $screen-md-min) {
	.collapseTable {
		margin: auto;
		width: 100%;
		box-sizing: border-box;
		display: block;

		table, thead, tbody, th, td, tr {
			box-sizing: border-box;
			display: block;
		}

		thead {
			position: absolute;
			top: -999999999px;
			left: -999999999px;
		}
			

		tbody td:before {
			content: attr(data-th);
			display: block;
			font-weight: bold;
			position: absolute;
			left: 0;
			padding-left: 10px;
		}
		tbody td:not(:first-child) {
			padding-left: 50%;
		}

		tbody td:first-child {
			font-size: 1.2em;
			text-align: center;
			background: $base-color;
			color: white;
			height: 50px;
			width: 100%;
			text-align: center;
			text-shadow: 0 1px 0 $base-dark;
			border: 1px solid $base-dark;
		}
	}
}
