@import "vars";

table.hide {

	margin: auto;

	.area-col,
	.founded-col,
	.elevation-col {
		display: none;
	}

	/* Small devices */
	@media (min-width: $screen-sm-min) {
		.area-col {
			display: table-cell;
		}
	}

	/* Medium devices */
	@media (min-width: $screen-md-min) {
		.founded-col {
			display: table-cell;
		}
	}

	/* Large devices */
	@media (min-width: $screen-lg-min) {
		.elevation-col {
			display: table-cell;
		}
	}
}
